:root{
	--light-gray: #eaeaea;
  --med-gray: #555;
	--dark-gray: #222;
	--white: #fff;
	--gold: #ffc627;
	
	--box-shadow: -5px 5px 5px var(--med-gray);
	--hover-shadow: -3px 3px 6px var(--med-gray);
	
	font-size: 16px;
}

html{
	background-color: var(--light-gray);
}

/* -- The site is meant to be a single page, fixed 1280px wide site. You may makde it responsive to earn extra credit, but only if your JS is working correctly first. Focus on the functionality. -- */
body{
	color: var(--dark-gray);
	line-height: 1.35;
	font-family: sans-serif;
	box-sizing: border-box;
}

/* Hidden content for screen reader users - code from: https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

header, main, footer{
	width: 100%;
	padding: 16px;
	max-width: calc(1280px - 32px);
	margin: 0 auto;
}

/* ----- HEADER ----- */
header{
	margin: 0 auto 2rem auto;
	background-color: var(--white);
}

/* ----- HEADINGS ----- */
h1, h2, h3, h4{
	text-align: center;
	font-weight: bold;
}

h1{
	font-size: 2rem;
	margin: 1rem;
}

h2{
	font-size: 1.65rem;
	margin: 0.75rem;
}

h3{
	font-size: 1.45rem;
	margin: 0.5rem;
}

h4{
	font-size: 1.3rem;
	margin: 0.35rem;
}

/* ----- IMAGES ----- */
img{
	display: block;
	margin: 0 auto;
}

/* ----- PARAGRAPHS ----- */
p{
	max-width: 65ch;
	padding: 1rem 0;
	margin: 0 auto;
}

/* ----- STRONG TEXT ----- */
strong{
	display: block;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 1rem auto;
	padding: 0.25rem;
	width: fit-content;
	background-color: var(--gold);
}

/* ----- BUTTONS/SUBMIT ----- */
button, input[type="submit"]{
	display: block;
	padding: 1rem;
	background-color: var(--dark-gray);
	color: var(--white);
	border: none;
	box-shadow: var(--box-shadow);
}

input[type="submit"]{
	width: 90%;
	margin: 0 auto;
}

/* ----- FORM CONTROLS ----- */
input, label{
	display: block;
	font-size: 1rem;
	font-family: sans-serif;
}

label{
	margin: 0.5rem 0 0.25rem 0;
}

input{
	padding: 0.5rem 0.25rem;
	margin: 0 auto 1rem auto;
	width: calc(100% - 1rem);
}

/* ----- FOR ERROR MESSAGES AND INPUT STYLES IN FORMS ----- */
.message{
  display: none;
  color: var(--orange);
  font-size: 1.2em;
  margin: 0.25em 0;
  font-weight: bold;
}

.error{
  font-size: 1em;
  display: block;
}

.errorInput{
  border: 1px solid var(--orange);
}

/* ----- BACKGROUND COLORS/WIDTHS/PADDING ON INDIVIDUAL SECTIONS ----- */
#switcher1, #switcher2, #switcher3, #game1, #game2, #cart1{
	background-color: var(--white);
	padding: 1rem;
	width: calc(100% - 2rem);
	max-width: 1280px;
}

/* ----- PRODUCT SWITCHER EXAMPLE 1 ----- */
/* ----- CLASSES FOR PRODUCT SWITCHER ----- */
#switcher1 .currentItem{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	gap: 1rem;
}

.hiddenItem{
	display: none;
}

#switcherButtons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	width: fit-content;
	margin: 2rem auto;
}

#switcher1 img{
	grid-row: 1/-1;
}

#switcher1 h3{
	grid-column: 2/-1;
	align-self: end;
}

/* ----- PRODUCT SWITCHER EXAMPLE 2 ----- */
/* ----- CLASSES FOR PRODUCT SWITCHER ----- */
#switcher2 .currentItem{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	gap: 1rem;
}

.hiddenItem{
	display: none;
}

#switcher2{
	margin-top: 2rem;
}

#switcher2 img{
	grid-row: 1/-1;
	grid-column: 2/-1;
}

#switcher2Buttons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	width: fit-content;
	position: relative;
	left: 12%;
	top: -80px;
}

/* ----- PRODUCT SWITCHER EXAMPLE 3 ----- */
#switcher3{
	margin-top: 2rem;
	padding-bottom: 2rem;
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 1rem;
}

#switcher3 h2{
	grid-column: 1/-1;
}

/* ----- CLASSES FOR PRODUCT SWITCHER ----- */
#switcher3 .currentItem{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 4fr;
	gap: 1rem;
}

.hiddenItem{
	display: none;
}

#switcher3Buttons{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1rem;
	height: fit-content;
	align-self: center;
}

#switcher3 img{
	grid-row: 1/-1;
}

#switcher3 h3{
	grid-column: 2/-1;
	align-self: end;
}

/* ----- GUESSING GAME EXAMPLE 1 ----- */
#game1{
	margin-top: 2rem;	
	padding-bottom: 2rem;
}

#game1 div{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	max-width: 800px;
	margin: 0 auto;
}

#game1 h2{
	grid-column: 1/-1;
}

#game1 form{
	padding: 1rem;
}

#gameDisplay p{
	padding: 0.5rem;
}

/* ----- GUESSING GAME EXAMPLE 2 ----- */
#game2{
	margin-top: 2rem;	
	padding-bottom: 2rem;
}

#game2 div{
	max-width: 800px;
	margin: 0 auto;
}

#game2 form{
	width: 325px;
	margin: 1rem auto
}

#game2 input{
	display: inline-block;
	width: 50px;
}

#game2 label{
	display: inline-block;
	width: auto;
}

#game2 #guessGame2{
	display: block;
	width: auto;
}

#gameOutput2{
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	width: 300px; 
	margin: 0 auto;
}

#gameOutput2 span{
	display: block;
	width: 20px;
	height: 20px;
	padding: 1rem;
	background-color: var(--dark-gray);
	color: var(--white);
	border-radius: 50%;
	margin: 0.5rem auto;
}

#game2Msg{
	font-size: 1.2rem;
	text-align: center;
}

/* ----- CART 1 ----- */
#cart1{
	margin-top: 2rem;
	padding-bottom: 2rem;
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 1rem;
}

#cart1 h2{
	grid-column: 1/-1;
}

#products1{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
}

#products1 p{
	width: fit-content;
	font-size: 1.1rem;
	padding: 0 0 1rem 0;
}

#products1 button, #products1 p{
	margin: 0 auto;
}

#totals1 h3{
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--med-gray);
}

#totals1 ul{
	width: fit-content;
	margin: 0 auto;
	font-size: 1.2rem;
}

#totals1 li{
	margin: 0.5rem 0;
}

#itemsList1 li{
	padding-bottom: 0.25rem;
	border-bottom: 1px solid var(--med-gray);
}

#totals1 button{
	font-size: 1.1rem;
	margin: 1rem auto;
}

/* ----- FOOTER ----- */
footer{
	padding: 1rem 0;
	text-align: center;
	background-color: var(--white);
	margin-top: 2rem;
}

/* ----- HOVER STYLES ----- */
@media (hover:hover){
	button:hover, input[type="submit"]:hover{
		box-shadow: var(--hover-shadow);
	}
}